body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.heading{
    display:flex;
    margin-bottom:150px;
}
.food{
    width:50%;
}
h1{
    text-transform: capitalize;
}
.eat{
    padding-left: 70px;
    padding-right: 40px;
    padding-top:110px;
}
.mark{
    color:orange;
}
.link{
    text-decoration: none;
    padding:10px 20px;
    border-radius:20px;
    background-image: linear-gradient(orange, red);
}
.drink img{
    width:300px;
    display:block;
    margin:16% auto;
    background-image: url(images/Group\ 8448.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:280px 280px;
}
.background{
    display:flex;
    margin-bottom:150px;
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.about{
    padding-left:50px;
    padding-top:80px;
    padding-right:30px;
}
.middel-first{
    text-align:center;
    padding:0 100px
}
.middel-content{
    text-align: center;
    padding:0 300px;
}
.vegetables{
    width:58%;
    box-shadow: 3px 3px 20px -3px #ddd;
    margin:5% 7%;
    border-radius:20px
}
.middel-secrion{
    padding-left: 15px;
    padding-right: 15px;
}
.vegetables img{
    width:230px;
    margin:15px auto;
    display:block;
    text-align: center;
    border-radius:20px;
}
.last-section{
   background-color: #111;
   
}
.last-time{
    color:#ddd;
    margin:0;
    padding-bottom:150px;
    text-align:center;
    font-size:15px;
}
#lasti{
    text-align:center;
    color:gray;
    font-size:20px;
    padding-top:20px
}